{% from 'macros/top_bar.jinja.html' import top_bar %}
{% from 'macros/editable_table.jinja.html' import editable_table %}
<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Cleanup reasons </title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'common.css')}}">
  </head>
  <body>
    {{top_bar('Back to main', 'default.view') | indent(4)}}
    <h1> Cleanup reasons </h1>
    <p>
      Here you can define the reasons that can be used to justify the actions chosen while reviewing
      images
    </p>
    {{editable_table(table_descriptor) | trim | indent(4)}}
    <p>
      Note: The description is shown when hovering over the reason name while creating a review
    </p>
  </body>
</html>
