{% from 'macros/top_bar.jinja.html' import top_bar %}
{% from 'macros/editable_table.jinja.html' import editable_table %}
<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Cleanup actions </title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'common.css')}}">
  </head>
  <body>
    {{top_bar('Back to main', 'default.get') | indent(4)}}
    <h1> Cleanup actions </h1>
    <p>
      Here you can define the actions that can be chosen while reviewing images
    </p>
    {{editable_table(table_descriptor) | trim | indent(4)}}
    <p>
      Note: The description is shown when hovering over the action name while creating a review
    </p>
  </body>
</html>
