<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Cleanup action - {{action_name}} </title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'common.css')}}">
  </head>
  <body>
{% set top_left_link = ['cleanup_action.handle_all', 'Back to cleanup actions'] %}
{% filter indent(width = 4, first = True) %}
  {% include 'common/top_bar.jinja.html' %}
{% endfilter %}
    <H1> Cleanup action: {{action_name}} </H1>
    <p> Description: {{description}} </p>
    <p>
      Here you can define the reasons that can be chosen for this action while reviewing images
    </p>
{% filter indent(width = 4, first = True) %}
  {% include 'common/editable_table.jinja.html' %}
{% endfilter %}
  </body>
</html>
