{% from 'macros/results_navigation_strip.jinja.html' import results_navigation_strip %}
<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> File search </title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'common.css')}}">
  </head>
  <body>
{% set top_left_link = ['default.view', 'Back to main'] %}
{% filter indent(width = 4, first = True) %}
  {% include 'common/top_bar.jinja.html' %}
{% endfilter %}

  <H1> File search </H1>

  <form>
    <label for="term">File name contains:</label>
    <input id="term" name="term" value="{{term}}"></input>
    <input type="hidden" name="limit" value="{{limit}}">
    <button type="submit">Search</button>
  </form>
{% if results is defined %}
  {% if results | length > 0 %}
  <p>
    Showing {{results | length}} result{{'s' if results | length > 1}} from {{offset + 1}} to
    {{offset + results | length}}
    <br>
    {{results_navigation_strip(limit, offset, more_results, (50, 100, 250, 500), { 'term': term })
      | trim | indent(2)}}
  </p>
  <ul>
    {% for r in results %}
    <li><a href="{{url_for('image_review.handle_review', image_title = r)}}">{{r}}</a></li>
    {% endfor %}
  </ul>
  <p>
    {{results_navigation_strip(limit, offset, more_results, (50, 100, 250, 500), { 'term': term })
      | trim | indent(2)}}
  </p>
  {% else %}
  <p>
    No matches found
  <p>
  {% endif %}
{% endif %}
  </body>
</html>
