<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Review - {{image['title']}} </title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'common.css')}}">
    <link rel="stylesheet" type="text/css"
     href="{{url_for('static', filename = 'image_review.css')}}">
  </head>
  <body>
    <div class="global_container">
      <div>
{% set top_left_link = ['default.view', 'Back to main'] %}
{% filter indent(width = 8, first = True) %}
  {% include 'common/top_bar.jinja.html' %}
{% endfilter %}
      </div>

      <h1><a id="wiki_link" target="_blank">{{image['title']}}</a></h1>

      <div class="panel_container">
        <div class="panel">
          <div class="current_img" style="flex-grow: 1">
            <img id="current_image">
          </div>
          <div>
            <div> Similar images: </div>
            <div class="similar_image_strip" id="similar_img_strip">
            </div>
          </div>
          <div>
            <div> Size: <span id="revision_size"></span></div>
            <div> Dimensions: <span id="revision_dimensions"></span></div>
            <div> Time: <span id="revision_time"></span></div>
          </div>
        </div>
        <div class="panel">
          <div>
            <div> Last modification: <span id="last_modification"></span></div>
            <div> Total revisions: {{image['total_revisions']}} </div>
            <div> Size of all revisions: <span id="all_revs_size"></span></div>
            <div> Largest revision: <span id="max_rev_size"></span></div>

            <script type="module">
              import { format_local_datetime, format_storage_units }
              from {{url_for('static', filename = 'format_utils.js') | tojson}};

              document.getElementById('last_modification').textContent =
                format_local_datetime({{image['last_modification'] | tojson}});

              document.getElementById('all_revs_size').textContent =
                format_storage_units({{image['all_revs_size'] | tojson}});

              document.getElementById('max_rev_size').textContent =
                format_storage_units({{image['max_rev_size'] | tojson}});
            </script>
          </div>
          <div class="revision_section">
            <div> Revisions: </div>
            <div class="revision_strip" id="revision_strip">
            </div>
          </div>
          <div>
            <form id="review_form"
             action="{{url_for('image_review.handle_review', image_title = image['title'])}}">
              <div>
                <label for="comments">Comments:</label>
              </div>
              <div>
                <textarea id="comments" name="comments" maxlength=256 rows=5
                  style="resize: none; width: 100%; box-sizing: border-box;"
                  placeholder="Enter your comments here in case you find an special case"
                  ></textarea>
              </div>
              <div style="display: flex; justify-content: space-between">
                <div>
                  <button type="submit"> Save review </button>
                  <span id="form_submit_result"></span>
                </div>
{% if category %}
                <div>
                  <a href="{{url_for('image_review.deal',
                                     category = category,
                                     prev_image = image['title'])}}">
                    Next file
                  </a>
                </div>
{% endif %}
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <script type="module">
      import { format_local_datetime, format_storage_units }
      from {{url_for('static', filename = 'format_utils.js') | tojson}};
      import {
        query_image_info, query_multiple_images, select_image, download_revision_data,
        download_similar_image_data, register_review_submit_listener
      } from {{url_for('static', filename = 'image_review.js') | tojson}};

      const api_url = {{api_url | tojson}};

      const image_title = {{image['title'] | tojson}};

      const cleanup_actions = {{cleanup_actions | tojson(indent = 2) | indent(6)}};

      const review_data = {{review_data | tojson(indent = 2) | indent(6)}};

      const similar_images = {{similar_images | tojson(indent = 2) | indent(6)}};

      const state = {
        similar_img_strip_items: {},
        revisions: [],
        selected_image: 0,
      };

      //Register the submit event listener for the review form
      register_review_submit_listener(state);

      //Aynchronously update the revision information
      download_revision_data(api_url, state, image_title, cleanup_actions, review_data);

      //Asynchronously update the information for similar images as well
      download_similar_image_data(api_url, state, similar_images);
    </script>
  </body>
</html>
