{% from 'macros/top_bar.jinja.html' import top_bar %}
<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Review - {{image['title']}} </title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'common.css')}}">
    <link rel="stylesheet" type="text/css"
     href="{{url_for('static', filename = 'image_review.css')}}">
  </head>
  <body>
    <div class="global_container">
      <div>
        {{top_bar('Back to main', 'default.view_get') | indent(8)}}
      </div>

      <div class="title_bar">
        <div>
          <h1><a id="wiki_link" target="_blank">{{image['title']}}</a></h1>
        </div>
        <div>
{% if 'category' in request.args %}
          <div><b>
            Category:
  {% if request.args.category == 'unused_img_all_rev' %}
            Unused files
  {% elif request.args.category == 'used_img_old_rev' %}
            Files with older revisions
  {% elif request.args.category == 'used_img_all_rev' %}
            Files by size
  {% elif request.args.category == 'used_img_all_rev_count' %}
            Files by amount of revisions
  {% else %}
            Unknown
  {% endif %}
          </b></div>
{% endif %}
{% if author %}
          <div><b>
            Author: {{author}}
          </b></div>
{% endif %}
        </div>
      </div>

      <div class="panel_container">
        <div class="panel">
          <div class="current_img">
            <img id="current_image">
          </div>
          <div>
            <div id="similar_image_strip_label"></div>
            <div class="similar_image_strip" id="similar_img_strip">
            </div>
          </div>
          <div>
            <div> Last modification: <span id="last_modification"></span></div>
            <div> Total revisions: {{image['total_revisions']}} </div>
            <div> Size of all revisions: <span id="all_revs_size"></span></div>
            <div> Largest revision: <span id="max_rev_size"></span></div>

            <script type="module">
              import { format_local_datetime, format_storage_units }
              from {{url_for('static', filename = 'format_utils.js') | tojson}};

              document.getElementById('last_modification').textContent =
                format_local_datetime({{image['last_modification'] | tojson}});

              document.getElementById('all_revs_size').textContent =
                format_storage_units({{image['all_revs_size'] | tojson}});

              document.getElementById('max_rev_size').textContent =
                format_storage_units({{image['max_rev_size'] | tojson}});
            </script>
          </div>
        </div>
        <div class="panel">
          <div>
            <div>
              Apply to multiple revisions:
            </div>
            <div class="common_options">
              <div>
                <div>
                  <label for="common_action">Action:</label>
                  <select id="common_action"></select>
                </div>
                <div>
                  <label for="common_reason">Reason:</label>
                  <select id="common_reason"></select>
                </div>
              </div>
              <div>
                <div><button id="apply_all"> Apply to all </button></div>
                <div><button id="apply_unset"> Apply to unset only </button></div>
              </div>
              <div>
                <div><button id="unset_all"> Unset all </button></div>
              </div>
            </div>
          </div>
          <div class="revision_section">
            <div> Revisions: </div>
            <div class="revision_strip" id="revision_strip"></div>
          </div>
          <div>
            <form id="review_form"
             action="{{url_for('image_review.handle_review', image_title = image['title'])}}">
              <div>
                <label for="comments">Comments:</label>
              </div>
              <div>
                <textarea id="comments" name="comments" maxlength=256 rows=5
                  style="resize: none; width: 100%; box-sizing: border-box;"
                  placeholder="Enter your comments here in case you find an special case"
                  >{{review_data['comments']}}</textarea>
              </div>
              <div style="display: flex; justify-content: space-between">
                <div>
                  <button type="submit"> Save review </button>
                  <span id="form_submit_result"></span>
                </div>
{% if category %}
                <div>
                  <a href="{{url_for('image_review.deal',
                                     category = category,
                                     prev_image = image['title'])}}">
                    Next file
                  </a>
                </div>
{% endif %}
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <script type="module">
      import { download_revision_data, download_similar_image_data, register_review_submit_listener,
               initialize_common_options }
      from {{url_for('static', filename = 'image_review.js') | tojson}};

      const api_url = {{api_url | tojson}};

      const image_title = {{image['title'] | tojson}};

      const cleanup_actions = {{cleanup_actions | tojson(indent = 2) | indent(6)}};

      const cleanup_proposal = {{review_data.cleanup_proposal | tojson(indent = 2) | indent(6)}};

      const similar_images = {{similar_images | tojson(indent = 2) | indent(6)}};

      const state = {
        similar_img_strip_elements: {},
        revisions: [],
        selected_image: 0,
      };

      //Aynchronously update the revision information
      download_revision_data(api_url, state, image_title, cleanup_actions, cleanup_proposal);

      //Asynchronously update the information for similar images as well
      download_similar_image_data(api_url, state, similar_images);

      //Initialize the common options section elements
      initialize_common_options(state, cleanup_actions);

      //Register the submit event listener for the review form
      register_review_submit_listener(state);
    </script>
  </body>
</html>
