<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Main menu </title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'common.css')}}">
  </head>
  <body>
{% filter indent(width = 4, first = True) %}
  {% include 'common/top_bar.jinja.html' %}
{% endfilter %}

    <p>Welcome to the MediaWiki cleanup assistant!</p>

    <H1> Cleanup Strategies </H1>

    <p> Help us clean the wiki by selecting a cleanup strategy below. Files will be selected
    automatically for you based on the one you select:</p>

    <ul>
      <li> Unused content:
        <ul>
          <li><a href="{{url_for('image_review.deal', category = 'unused_img_all_rev')}}">
            Unused files
          </a></li>
          <li><a href="{{url_for('image_review.deal', category = 'used_img_old_rev')}}">
            Files with older revisions
          </a></li>
        </ul>
      </li>
      <li> Content in use:
        <ul>
          <li><a href="{{url_for('image_review.deal', category = 'used_img_all_rev')}}">
            Files by size
          </a></li>
          <li><a href="{{url_for('image_review.deal', category = 'used_img_all_rev_count')}}">
            Files by amount of revisions
          </a></li>
{#
          <li>
            Files with duplicate revisions
          </li>
#}
        </ul>
      </li>
    </ul>

    <H1> Settings </H1>

    <ul>
      <li><a href="{{url_for('password_update.view')}}"> Update your password
      </a></li>
    </ul>
{#
    Progress:
    - Unused files: [a] out of [A]
    - Older revisions: [b] out of [B]
    - Audited files: [c] out of [C] (auditors only)

    Useful links:
    - List of files reviewed by all users
    - List of files reviewed by you (reviewers only)
    - List of files pending audit (auditors only)
    - List of audited files (auditors only)
    - Registered users (admin only)
#}
{% for message in get_flashed_messages() %}
    <div style="color: red;">{{message}}</div>
{% endfor %}
  </body>
</html>

