{% from 'macros/top_bar.jinja.html' import top_bar %}
<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Password reset </title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'common.css')}}">
  </head>
  <body>
    {{top_bar('Back to user management', 'user_management.view_get') | indent(4)}}
    <h1> Password reset </h1>
    <p>
      You can help a user with a lost or forgotten password by generating a new temporary one. That
      user will be required to set a new password once they log in.
    </p>
    <p> Remember to use a private channel in order to communicate the generated password. </p>
    <div style="display: flex;">
      <select id="user_select" autocomplete="off">
        <option value="" disabled hidden selected>-- Select user --</option>
{% for user_name, user_url in users.items() %}
        <option value="{{user_url}}">{{user_name}}</option>
{% endfor %}
      </select>
      <form id="password_reset_form" data-method="patch">
        <button id="form_submit_button" type="submit" autocomplete="off" disabled>
          Generate temporary password
        </button>
      </form>
    </div>
    <style>
      div.form_submit_result.success { color: initial; }
      div.form_submit_result.error { color: red; }
    </style>
    <div id="form_submit_result" class="form_submit_result"></div>
    <script type="module">
      import { register_submit_listener }
      from {{url_for('static', filename = 'simple_form_listener.js') | tojson}};

      const user_select = document.getElementById('user_select');
      const password_reset_form = document.getElementById('password_reset_form');
      const form_submit_button = document.getElementById('form_submit_button');
      const form_submit_result = document.getElementById('form_submit_result');

      user_select.addEventListener('change', (event) => {
        password_reset_form.action = event.target.value;
        form_submit_button.disabled = false;
      });

      function form_submit_callback(success, response_text) {
        if (!success) return response_text;

        const { user_name, new_password } = JSON.parse(response_text);
        return `New password generated for ${user_name}: ${new_password}`;
      }

      register_submit_listener(password_reset_form, form_submit_result,
                               { callback: form_submit_callback });
    </script>
  </body>
</html>
