{% from 'macros/top_bar.jinja.html' import top_bar %}
{% from 'macros/results_navigation_strip.jinja.html' import results_navigation_strip %}
<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Review report </title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'common.css')}}">
    <style>
      .size_reference {
        height: 100%;
      }
      div.composite_cell {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-evenly;
      }
    </style>
  </head>
  <body>
    {{top_bar('Back to main', 'default.get') | indent(4)}}
    <h1> Review report </h1>
    <p>
      All submitted reviews are listed here
    </p>
    <form id="filter_form">
      Filter by:
{% set filter_label = {
  'review_author': '-- Review author --',
  'cleanup_action': '-- Cleanup action --',
  'cleanup_reason': '-- Cleanup reason --',
  'image_title': '-- Image title --',
  'multiple_authors': ('Include reviews from multiple authors',
                       'If unselected only the newest review will be shown for each file')
} %}
{% for filter_name, filter_options in available_filters.items() %}
  {% if filter_options['type'] == 'select' %}
      <select name="{{filter_name}}">
    {% set selected = ' selected' if filter_name not in request.args else '' %}
        <option value=""{{selected}}> {{filter_label[filter_name]}} </option>
    {% for option in filter_options['options'] %}
      {% set selected = ' selected' if request.args[filter_name] == option else '' %}
        <option value="{{option}}"{{selected}}> {{option}} </option>
    {% endfor %}
      </select>
  {% elif filter_options['type'] == 'input' %}
      <input name="{{filter_name}}" placeholder="{{filter_label[filter_name]}}"
       value="{{request.args[filter_name]}}">
  {% elif filter_options['type'] == 'checkbox' %}
      <input id="{{filter_name}}_checkbox" type="checkbox" name="{{filter_name}}" value="1"
       title="{{filter_label[filter_name][1]}}"{{
       ' checked' if filter_name in request.args else ''}}>
      <label for="{{filter_name}}_checkbox" title="{{filter_label[filter_name][1]}}">
        {{filter_label[filter_name][0]}}
      </label>
  {% endif %}
{% endfor %}
      <input type="hidden" name="limit" value="{{limit}}">
      <button type="submit">Apply</button>
    </form>
    <script type="module">
      document.getElementById('filter_form').addEventListener('submit', (event) => {
        for (const child of event.target.children) {
          //Remove the name attribute from any select element that has an empty value, this way it
          //won't be included in the form data
          if ((child.tagName === 'SELECT' || child.tagName === 'INPUT') && child.value === '') {
            child.removeAttribute('name');
          }
        }
      });
    </script>
{% if reviews | length > 0 %}
    <p>
      Showing {{reviews | length}} result{{'s' if reviews | length > 1}} from {{offset + 1}} to
      {{offset + reviews | length}}
    </p>
    <div>
      {{results_navigation_strip(limit, offset, more_results, (50,100,250,500), filter_params)
        | trim | indent(6) }}
    </div>
    <table id="reviews_table" class="size_reference">
      <tr>
        <th> No. </th>
        <th> File </th>
        <th> Revision </th>
        <th> Action </th>
        <th> Reason </th>
        <th> Comments </th>
        <th> Author </th>
        <th> Updated </th>
      </tr>
  {% for r in reviews %}
      <tr class="size_reference">
        <td>
          {{loop.index + offset}}
        </td>
        <td>
          <a href="{{url_for('image_review.handle_review', image_title = r['image_title'],
                             author = r['author'])}}">
            {{r['image_title']}}
          </a>
        </td>
        <td class="size_reference">
          <div class="composite_cell">
    {% for proposal in r['cleanup_proposal'] %}
            <div>
              {{proposal['timestamp']}}
            </div>
    {% endfor %}
          </div>
        </td>
        <td class="size_reference">
          <div class="composite_cell">
    {% for proposal in r['cleanup_proposal'] %}
            <div>
              {{proposal['action']}}
            </div>
    {% endfor %}
          </div>
        </td>
        <td class="size_reference">
          <div class="composite_cell">
    {% for proposal in r['cleanup_proposal'] %}
            <div>
              {{proposal['reason']}}
            </div>
    {% endfor %}
          </div>
        </td>
        <td>
          {{r['comments'] | new_line_to_break | indent(width = 10)}}
        </td>
        <td>
          {{r['author']}}
        </td>
        <td>
          {{r['timestamp']}}
        </td>
      </tr>
  {% endfor %}
    </table>
    <div>
      {{results_navigation_strip(limit, offset, more_results, (50,100,250,500), filter_params)
        | trim | indent(6) }}
    </div>
    <p>
      Download the full review data (including all pages) as
      <a href="{{url_for('review_report.get', format = 'json', **filter_params)}}" download>
        json
      </a>
      or
      <a href="{{url_for('review_report.get', format = 'csv', **filter_params)}}" download>
        csv
      </a>
    </p>
{% else %}
    <p> There are no results </p>
{% endif %}
    <script type="module">
      import { format_local_datetime }
      from {{url_for('static', filename = 'format_utils.js') | tojson}};

      const reviews_table = document.getElementById('reviews_table');

      //Iterate through all table rows from the second
      for (const row of Array.from(reviews_table.rows).slice(1)) {
        //Reformat the dates in the timestamp column of the cleanup proposal
        for (const timestamp_div of row.cells[2].children[0].children) {
          timestamp_div.textContent = format_local_datetime(timestamp_div.textContent.trim());
        }

        //Reformat the dates in the update_time column
        row.cells[7].textContent = format_local_datetime(row.cells[7].textContent.trim());
      }
    </script>
  </body>
</html>
