{% macro wikitext_form(action_url, category, maxlen, rows, cols, content) %}
<div style="width: fit-content">
  <form id="{{category}}_form" action="{{action_url}}" data-method="PATCH">
    <div>
      <textarea name="wikitext" id="{{category}}_textarea" maxlength={{maxlen}} rows={{rows}}
       style="resize: none; width: {{cols}}ch;"></textarea>
    </div>
    <div style="display: flex; justify-content: space-between">
      <button type="submit">Save</button>
      <span id="{{category}}_submit_result"></span>
    </div>
  </form>
</div>
<script type="module">
  import { register_submit_listener }
  from {{url_for('static', filename = 'wikitext_form.js') | tojson}};

  const textarea = document.getElementById({{(category + '_textarea') | tojson}});
  textarea.value = {{content | tojson }};
  register_submit_listener(document.getElementById({{(category + '_form') | tojson}}),
                           document.getElementById({{(category + '_submit_result') | tojson}}));
</script>
{%- endmacro %}
