/* Container for the whole page */
div.global_container {
  display: flex;
  flex-direction: column;
  min-height: 97vh;         /* Cover the entire viewport vertically */
  max-height: min-content;  /* Grow to minimum height of content if space is insufficient */
}

/* Container for the title bar */
div.global_container div.title_bar {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  align-items: center;
}

/* Container for page panels that divide the viewport vertically */
div.global_container div.panel_container {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 50% auto;
  gap: 2px;                   /* Create grid lines by setting background color, gaps and padding */
  padding: 2px;
  background-color: #000000;
}

/* Container for a single page panel */
div.panel_container div.panel {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

/* Common properties for all divs directly inside panels */
div.panel > div {
  padding: 0.25em;
  background-color: #FFFFFF;  /* Background color for all small panels*/
}

/* Container for the currently selected image */
div.panel div.current_img {
  flex: 1 120px;        /* Set a minimum size and allow growing */
  display: grid;
  place-items: center;
  min-height: 0;        /* Allow children to be scaled down to any height */
}

/* Currently selected image */
div.current_img img {
  min-width: 0;      /* Allow scaling down to the container size or keep intrinsic size */
  min-height: 0;
  max-width: 100%;
  max-height: 100%;
}

/* Horizontal strip for similar image thumbnails */
div.panel div.similar_image_strip {
  display: flex;
  overflow-x: auto;
  min-height: 140px;  /* 120px maximum thumbnail height + 10px for padding on top and bottom */
}

/* Container for similar image thumbnails and links */
div.similar_image_strip div.similar_image_strip_item {
  margin-bottom: 10px;   /* Mitigate firefox's horizontal scroll bars obstructing links */
}

/* Container for similar image thumbnails */
div.similar_image_strip_item div.similar_image {
  display: grid;        /* Create a 1x1 grid with padding to separate thumbnails */
  place-items: center;
  padding: 10px;
  min-width: 120px;     /* Set a fixed size of 120px x 120px */
  max-width: 120px;
  min-height: 120px;
  max-height: 120px;
}

/* Container for the titles of the similar images */
div.similar_image_strip_item div.similar_image_title {
  width: 130px;             /* Allow for room between text fragments */
  white-space: nowrap;      /* Cause all text to be trimmed with ellipsis if it doesn't fit */
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Container for the options common to all revision reviews */
div.panel div.common_options {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

/* Container for the revision section */
div.panel div.revision_section {
  flex: 1 1 auto;           /* Allow growing but preserve minimum child size  */
  display: flex;
  flex-direction: column;
}

/* Vertical strip for revision thumbnails and forms */
div.revision_section div.revision_strip {
  flex: 1 140px;            /* Set a minimum size and allow growing */
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

/* Container for revision thumbnails and forms */
div.revision_strip div.revision {
  display: flex;
  gap: 1em;
}

/* Container for revision thumbnails */
div.revision div.revision_thumbnail {
  display: grid;
  place-items: center;
  padding: 10px;
  min-width: 120px;
  max-width: 120px;
  min-height: 120px;
  max-height: 120px;
}

/* Color the frame of the currently selected revision thumbnail */
div.revision_thumbnail.selected {
  background-color: #406080;
}

/* Color the frame of the currently hovered revision thumbnail */
div.revision_thumbnail:not(.selected):hover {
  background-color: #6090C0;
}

/* Container for revision forms and detailed information */
div.revision div.revision_form,
div.revision div.revision_details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
