div.global_container {
  display: grid;
  grid-template-areas:
    "current_image   revision_info"
    "current_image   similar_images"
    "current_image   revision_actions"
    "revision_select revision_actions"
    "image_info      revision_actions";
  grid-template-columns: 60% auto;
  gap: 2px;
  background-color: #000000;
  padding: 2px;
}

@media (max-width: 1000px) {
  div.global_container {
    grid-template-areas:
      "current_image"
      "revision_info"
      "similar_images"
      "revision_select"
      "image_info"
      "revision_actions";
    grid-template-columns: 100%;
  }
}

div.global_container div {
  background-color: #FFFFFF;
  padding: 2px;
}

div.global_container div.current_image_area {
  grid-area: current_image;
  display: grid;
  place-items: center;
  aspect-ratio: 9 / 4;
}

div.current_image_area img {
  min-width: 0;
  min-height: 0;
  max-width: 100%;
  max-height: 100%;
}

div.global_container div.revision_info_area {
  grid-area: revision_info;
}

div.global_container div.similar_images_area {
  grid-area: similar_images;
  min-width: 0;
}

div.global_container div.revision_select_area {
  grid-area: revision_select;
  min-width: 0;
}

div.global_container div.image_info_area {
  grid-area: image_info;
}

div.global_container div.revision_actions_area {
  grid-area: revision_actions;
}

div.thumbnail_strip {
  display: flex;
  overflow-x: auto;
  height: 140px;    /* 120px maximum thumbnail height + 10px for padding on top and bottom */
}

div.thumbnail_strip div.thumbnail_strip_item {
  display: grid;
  place-items: center;
  padding: 10px;
}

div.thumbnail_strip_item.selectable.selected {
  background-color: #406080;
}

div.thumbnail_strip_item.selectable:not(.selected):hover {
  background-color: #6090C0;
}
