<table>
  <tr>
{% for f in fields %}
    <th> {{f['label']}} </th>
{% endfor %}
    <th> Action </th>
  </tr>
{% for row in data %}
  {#
    Keep a reference to the outer loop so it can be accessed from the internal one
  #}
  {% set outer_loop = loop %}
    <tr>
  {% for col in row['content'] %}
    {#
      Get a reference to the current field information for quick access
    #}
    {% set f = fields[loop.index0] %}
      <td>
    {#
      Create the field label element wrapper, which can be a hyperlink anchor or a simple span. Give
      it an id so that it can be hidden/swapped by pressing the edit button.
    #}
    {% if f['name'] == link_field %}
        <a href="{{row['link_url']}}" id="value_label_{{outer_loop.index0}}_{{loop.index0}}">
    {% else %}
        <span id="value_label_{{outer_loop.index0}}_{{loop.index0}}">
    {% endif %}
    {#
      Create the field label content, which can be a checkbox (boolean) or simple text
    #}
    {% if col is boolean %}
        <span style="color: {{'green' if col else 'red'}};">
          {{'&check;'|safe if col else '&cross;'|safe}}
        </span>
    {% else %}
          {{col}}
    {% endif %}
    {% if f['name'] == link_field %}
        </a>
    {% else %}
        </span>
    {% endif %}
    {% if f['allow_update'] %}
      {#
        If updating this field is allowed, create a hidden form element that can accept the new
        value. Give it an id as well, so it can be revealed/swapped. Also link it to the form below.
      #}
      {% if f['type'] == 'input' %}
        <input id="form_element_{{outer_loop.index0}}_{{loop.index0}}"
         form="row_{{outer_loop.index0}}_update_form" name="{{f['name']}}"
         maxlength="{{f['max_len']}}" size="{{f['size']}}" value="{{col}}" hidden>
      {% elif f['type'] == 'checkbox' %}
        <input type="checkbox" id="form_element_{{outer_loop.index0}}_{{loop.index0}}"
         form="row_{{outer_loop.index0}}_update_form" name="{{f['name']}}"
         {{'checked ' if col else ''}}hidden>
      {% endif %}
    {% endif %}
      </td>
  {% endfor %}
      <td>
  {% if allow_update %}
    {#
      If updating is allowed, create a form that allows editing and submitting changes for this row.
      Also register the corresponding listeners for button actions.
    #}
        <form id="row_{{loop.index0}}_update_form" style="display: inline-block;">
          <button id="row_{{loop.index0}}_edit_button" type="button">Edit</button>
          <button id="row_{{loop.index0}}_update_button" type="submit"
           formaction="{{row['form_url']}}" data-method="PATCH" hidden>Update</button>
        </form>
        <script type="module">
          import { register_edit_listener, register_submit_listener }
          from '{{url_for('static', filename = 'editable_table.js')}}';
          register_edit_listener({{loop.index0}}, {{row|length}});
          register_submit_listener(document.getElementById('row_{{loop.index0}}_update_form'));
        </script>
  {% endif %}
  {% if allow_delete %}
    {#
      If deletion is allowed, create a minimal form and register a submit listener for this row
    #}
        <form id="row_{{loop.index0}}_delete_form" style="display: inline-block;">
          <button type="submit" formaction="{{row['form_url']}}"
           data-method="DELETE">Delete</button>
        </form>
        <script type="module">
          import { register_submit_listener }
          from '{{url_for('static', filename = 'editable_table.js')}}';
          register_submit_listener(document.getElementById('row_{{loop.index0}}_delete_form'));
        </script>
  {% endif %}
  {% if reordering and data|length > 1 and ('limit' not in reordering or reordering['limit'] > 1) %}
    {#
      If reordering is allowed, the table is long enough (2+ rows), and a reordering limit is either
      not set or gives enough room (2+ reorderable rows) then create a reorder form and register a
      submit listener for this row
    #}
        <form id="row_{{loop.index0}}_reorder_form" style="display: inline-block;">
    {% if not loop.first and ('limit' not in reordering or loop.index0 < reordering['limit']) %}
      {#
        If this is not the first row and either a limit is not set or this row precedes the
        reordering limit by at least one position then create a "move up" button
      #}
          <button type="submit" formaction="{{row['form_url']}}" data-method="PATCH"
           name="{{reordering['name']}}" value="{{reordering['direction'][0]}}">&uarr;</button>
    {% endif %}
    {% if not loop.last and ('limit' not in reordering or loop.index < reordering['limit']) %}
      {#
        If this is not the last row and either a limit is not set or this row precedes the
        reordering limit by at least two positions then create a "move down" button
      #}
          <button type="submit" formaction="{{row['form_url']}}" data-method="PATCH"
           name="{{reordering['name']}}" value="{{reordering['direction'][1]}}">&darr;</button>
    {% endif %}
        </form>
        <script type="module">
          import { register_submit_listener }
          from '{{url_for('static', filename = 'editable_table.js')}}';
          register_submit_listener(document.getElementById('row_{{loop.index0}}_reorder_form'));
        </script>
  {% endif %}
      </td>
    </tr>
{% endfor %}
{% if allow_create %}
{#
  If creation is allowed, create an extra row with a form that allows inputting new data and
  register a submit listener
#}
  <tr>
  {% for f in fields %}
    <td>
    {% if f['allow_create'] %}
      {% if f['type'] == 'input' %}
      <input form="new_row" name="{{f['name']}}" maxlength="{{f['max_len']}}"
       size="{{f['size']}}">
      {% endif %}
    {% endif %}
    </td>
  {% endfor %}
    <td>
      <form id="new_row">
        <button type="submit" formaction="{{request.path}}" data-method="POST">Create</button>
      </form>
      <script type="module">
        import { register_submit_listener }
        from '{{url_for('static', filename = 'editable_table.js')}}';
        register_submit_listener(document.getElementById('new_row'));
      </script>
    </td>
  </tr>
{% endif %}
</table>
<span id="response_msg" style="line-height=1.5em;">&#8203;​​​​​​​​</span>

