<!doctype html>
<html>
  <head>
    <title> Main menu </title>
  </head>
  <body>
    {% include 'top_bar.html.jinja' %}

    <p>Welcome to the MediaWiki cleanup assistant!</p>

    <p> Please select a cleanup strategy. Files will be selected automatically for you based on the
    one you select:</p>

    <ul>
      <li><a href="{{url_for('image_review.deal')}}?dealer=unused_images">Unused files</li>
{#
      <li>Files with large older revisions</li>
      <li>Files with most older revisions</li>
      <li>Largest files</li>
      <li>Files with duplicate revisions</li>
#}
    </ul>
{#
    Progress:
    - Unused files: [a] out of [A]
    - Older revisions: [b] out of [B]
    - Audited files: [c] out of [C] (auditors only)

    Useful links:
    - List of files reviewed by all users
    - List of files reviewed by you (reviewers only)
    - List of files pending audit (auditors only)
    - List of audited files (auditors only)
    - Registered users (admin only)
#}
  {% for message in get_flashed_messages() %}
    <div style="color: red;">{{message}}</div>
  {% endfor %}
  </body>
</html>

